*{
    box-sizing: border-box;
}
#cv{
    max-width: 960px;
    margin: 0px auto;
    background-color: rgba(245, 245, 220, 0.888);
}
#header{
    margin: 0px;
}
#text{
    background-color: green;
    color: white;
    text-transform: uppercase;
    height: 150px; 
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#contactInfo{
    background-color: white;
}
#content{
    display:inline-table;
    margin-left: 20px;
    margin-bottom: 10px;
    max-width:200px;
}
#contact1{
    font-size: 20px;
}